parameters:
	ignoreErrors:
		-
			message: "#^Array with keys is not allowed\\. Use value object to pass data instead$#"
			count: 1
			path: Classes/Backend/DashboardPresetsProvider.php

		-
			message: "#^Method Brotkrueml\\\\MatomoWidgets\\\\Backend\\\\DashboardPresetsProvider\\:\\:__construct\\(\\) has parameter \\$configurationFinder with no value type specified in iterable type Brotkrueml\\\\MatomoWidgets\\\\Configuration\\\\ConfigurationFinder\\.$#"
			count: 1
			path: Classes/Backend/DashboardPresetsProvider.php

		-
			message: "#^Method Brotkrueml\\\\MatomoWidgets\\\\Backend\\\\DashboardPresetsProvider\\:\\:getPresets\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: Classes/Backend/DashboardPresetsProvider.php

		-
			message: "#^Property Brotkrueml\\\\MatomoWidgets\\\\Backend\\\\DashboardPresetsProvider\\:\\:\\$configurationFinder type has no value type specified in iterable type Brotkrueml\\\\MatomoWidgets\\\\Configuration\\\\ConfigurationFinder\\.$#"
			count: 1
			path: Classes/Backend/DashboardPresetsProvider.php

		-
			message: "#^Method Brotkrueml\\\\MatomoWidgets\\\\Configuration\\\\Configuration\\:\\:__construct\\(\\) has parameter \\$activeWidgets with no value type specified in iterable type array\\.$#"
			count: 1
			path: Classes/Configuration/Configuration.php

		-
			message: "#^Method Brotkrueml\\\\MatomoWidgets\\\\Configuration\\\\Configuration\\:\\:__construct\\(\\) has parameter \\$customDimensions with no value type specified in iterable type array\\.$#"
			count: 1
			path: Classes/Configuration/Configuration.php

		-
			message: "#^Class Brotkrueml\\\\MatomoWidgets\\\\Configuration\\\\ConfigurationFinder implements generic interface IteratorAggregate but does not specify its types\\: TKey, TValue$#"
			count: 1
			path: Classes/Configuration/ConfigurationFinder.php

		-
			message: "#^Method Brotkrueml\\\\MatomoWidgets\\\\Configuration\\\\ConfigurationFinder\\:\\:buildCustomDimensions\\(\\) has parameter \\$configurations with no value type specified in iterable type array\\.$#"
			count: 1
			path: Classes/Configuration/ConfigurationFinder.php

		-
			message: "#^Method Brotkrueml\\\\MatomoWidgets\\\\Configuration\\\\ConfigurationFinder\\:\\:getIterator\\(\\) return type has no value type specified in iterable type Traversable\\<mixed, mixed\\>\\.$#"
			count: 1
			path: Classes/Configuration/ConfigurationFinder.php

		-
			message: "#^Parameter \\#1 \\$filename of static method Symfony\\\\Component\\\\Yaml\\\\Yaml\\:\\:parseFile\\(\\) expects string, string\\|false given\\.$#"
			count: 1
			path: Classes/Configuration/ConfigurationFinder.php

		-
			message: "#^Property Brotkrueml\\\\MatomoWidgets\\\\Configuration\\\\ConfigurationFinder\\:\\:\\$configurations type has no value type specified in iterable type array\\.$#"
			count: 1
			path: Classes/Configuration/ConfigurationFinder.php

		-
			message: "#^Class Brotkrueml\\\\MatomoWidgets\\\\Configuration\\\\LegacyEnableWidgetsConfigurationFinder implements generic interface IteratorAggregate but does not specify its types\\: TKey, TValue$#"
			count: 1
			path: Classes/Configuration/LegacyEnableWidgetsConfigurationFinder.php

		-
			message: "#^Method Brotkrueml\\\\MatomoWidgets\\\\Configuration\\\\LegacyEnableWidgetsConfigurationFinder\\:\\:getEnableWidgetsIdentifier\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: Classes/Configuration/LegacyEnableWidgetsConfigurationFinder.php

		-
			message: "#^Method Brotkrueml\\\\MatomoWidgets\\\\Configuration\\\\LegacyEnableWidgetsConfigurationFinder\\:\\:getIterator\\(\\) return type has no value type specified in iterable type Traversable\\<mixed, mixed\\>\\.$#"
			count: 1
			path: Classes/Configuration/LegacyEnableWidgetsConfigurationFinder.php

		-
			message: "#^Array with keys is not allowed\\. Use value object to pass data instead$#"
			count: 1
			path: Classes/Configuration/WidgetsProvider.php

		-
			message: "#^Method Brotkrueml\\\\MatomoWidgets\\\\Connection\\\\MatomoConnector\\:\\:callApi\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: Classes/Connection/MatomoConnector.php

		-
			message: "#^Array with keys is not allowed\\. Use value object to pass data instead$#"
			count: 1
			path: Classes/Controller/CreateAnnotationController.php

		-
			message: "#^Cannot access offset 'date' on array\\|object\\|null\\.$#"
			count: 1
			path: Classes/Controller/CreateAnnotationController.php

		-
			message: "#^Cannot access offset 'note' on array\\|object\\|null\\.$#"
			count: 1
			path: Classes/Controller/CreateAnnotationController.php

		-
			message: "#^Cannot access offset 'siteIdentifier' on array\\|object\\|null\\.$#"
			count: 1
			path: Classes/Controller/CreateAnnotationController.php

		-
			message: "#^Method Brotkrueml\\\\MatomoWidgets\\\\Controller\\\\CreateAnnotationController\\:\\:__construct\\(\\) has parameter \\$configurationFinder with no value type specified in iterable type Brotkrueml\\\\MatomoWidgets\\\\Configuration\\\\ConfigurationFinder\\.$#"
			count: 1
			path: Classes/Controller/CreateAnnotationController.php

		-
			message: "#^Method Brotkrueml\\\\MatomoWidgets\\\\Controller\\\\CreateAnnotationController\\:\\:log\\(\\) has parameter \\$createdAnnotation with no value type specified in iterable type array\\.$#"
			count: 1
			path: Classes/Controller/CreateAnnotationController.php

		-
			message: "#^Parameter \\#1 \\$string of method Psr\\\\Http\\\\Message\\\\StreamInterface\\:\\:write\\(\\) expects string, string\\|false given\\.$#"
			count: 1
			path: Classes/Controller/CreateAnnotationController.php

		-
			message: "#^Property Brotkrueml\\\\MatomoWidgets\\\\Controller\\\\CreateAnnotationController\\:\\:\\$configurationFinder type has no value type specified in iterable type Brotkrueml\\\\MatomoWidgets\\\\Configuration\\\\ConfigurationFinder\\.$#"
			count: 1
			path: Classes/Controller/CreateAnnotationController.php

		-
			message: "#^Array with keys is not allowed\\. Use value object to pass data instead$#"
			count: 3
			path: Classes/DependencyInjection/Widgets/CustomDimensionsRegistration.php

		-
			message: "#^Method Brotkrueml\\\\MatomoWidgets\\\\DependencyInjection\\\\Widgets\\\\CustomDimensionsRegistration\\:\\:buildColumns\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: Classes/DependencyInjection/Widgets/CustomDimensionsRegistration.php

		-
			message: "#^Cannot call method fetch\\(\\) on Doctrine\\\\DBAL\\\\Result\\|int\\.$#"
			count: 1
			path: Classes/Domain/Repository/BackendUserGroupRepository.php

		-
			message: "#^Method Brotkrueml\\\\MatomoWidgets\\\\Domain\\\\Repository\\\\BackendUserGroupRepository\\:\\:findAll\\(\\) return type has no value type specified in iterable type Generator\\.$#"
			count: 1
			path: Classes/Domain/Repository/BackendUserGroupRepository.php

		-
			message: "#^Method Brotkrueml\\\\MatomoWidgets\\\\Domain\\\\Repository\\\\BackendUserGroupRepository\\:\\:updateAvailableWidgets\\(\\) has parameter \\$availableWidgets with no value type specified in iterable type array\\.$#"
			count: 1
			path: Classes/Domain/Repository/BackendUserGroupRepository.php

		-
			message: "#^Method Brotkrueml\\\\MatomoWidgets\\\\Domain\\\\Repository\\\\CachingMatomoRepositoryDecorator\\:\\:send\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: Classes/Domain/Repository/CachingMatomoRepositoryDecorator.php

		-
			message: "#^Cannot call method fetch\\(\\) on Doctrine\\\\DBAL\\\\Result\\|int\\.$#"
			count: 1
			path: Classes/Domain/Repository/DashboardRepository.php

		-
			message: "#^Method Brotkrueml\\\\MatomoWidgets\\\\Domain\\\\Repository\\\\DashboardRepository\\:\\:findAll\\(\\) return type has no value type specified in iterable type Generator\\.$#"
			count: 1
			path: Classes/Domain/Repository/DashboardRepository.php

		-
			message: "#^Method Brotkrueml\\\\MatomoWidgets\\\\Domain\\\\Repository\\\\DashboardRepository\\:\\:updateWidgetConfig\\(\\) has parameter \\$widgets with no value type specified in iterable type array\\.$#"
			count: 1
			path: Classes/Domain/Repository/DashboardRepository.php

		-
			message: "#^Parameter \\#2 \\$value of method TYPO3\\\\CMS\\\\Core\\\\Database\\\\Query\\\\QueryBuilder\\:\\:set\\(\\) expects string, string\\|false given\\.$#"
			count: 1
			path: Classes/Domain/Repository/DashboardRepository.php

		-
			message: "#^Method Brotkrueml\\\\MatomoWidgets\\\\Domain\\\\Repository\\\\MatomoRepository\\:\\:send\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: Classes/Domain/Repository/MatomoRepository.php

		-
			message: "#^Method Brotkrueml\\\\MatomoWidgets\\\\Domain\\\\Repository\\\\MatomoRepositoryInterface\\:\\:send\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: Classes/Domain/Repository/MatomoRepositoryInterface.php

		-
			message: "#^Property Brotkrueml\\\\MatomoWidgets\\\\Domain\\\\Validation\\\\CustomDimensionConfigurationValidator\\:\\:\\$configuration type has no value type specified in iterable type array\\.$#"
			count: 1
			path: Classes/Domain/Validation/CustomDimensionConfigurationValidator.php

		-
			message: "#^Cannot assign offset 'lang' to array\\|string\\.$#"
			count: 1
			path: Classes/Parameter/LanguageParameterResolver.php

		-
			message: "#^Method Brotkrueml\\\\MatomoWidgets\\\\Updates\\\\EnableWidgetsSiteConfigurationMigration\\:\\:__construct\\(\\) has parameter \\$legacyConfigurationFinder with no value type specified in iterable type Brotkrueml\\\\MatomoWidgets\\\\Configuration\\\\LegacyEnableWidgetsConfigurationFinder\\.$#"
			count: 1
			path: Classes/Updates/EnableWidgetsSiteConfigurationMigration.php

		-
			message: "#^Method Brotkrueml\\\\MatomoWidgets\\\\Updates\\\\EnableWidgetsSiteConfigurationMigration\\:\\:buildActiveWidgetsConfiguration\\(\\) has parameter \\$enableWidgets with no value type specified in iterable type array\\.$#"
			count: 1
			path: Classes/Updates/EnableWidgetsSiteConfigurationMigration.php

		-
			message: "#^Method Brotkrueml\\\\MatomoWidgets\\\\Updates\\\\EnableWidgetsSiteConfigurationMigration\\:\\:rebuildSiteConfiguration\\(\\) has parameter \\$siteConfiguration with no value type specified in iterable type array\\.$#"
			count: 1
			path: Classes/Updates/EnableWidgetsSiteConfigurationMigration.php

		-
			message: "#^Method Brotkrueml\\\\MatomoWidgets\\\\Updates\\\\EnableWidgetsSiteConfigurationMigration\\:\\:rebuildSiteConfiguration\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: Classes/Updates/EnableWidgetsSiteConfigurationMigration.php

		-
			message: "#^Property Brotkrueml\\\\MatomoWidgets\\\\Updates\\\\EnableWidgetsSiteConfigurationMigration\\:\\:\\$legacyConfigurationFinder type has no value type specified in iterable type Brotkrueml\\\\MatomoWidgets\\\\Configuration\\\\LegacyEnableWidgetsConfigurationFinder\\.$#"
			count: 1
			path: Classes/Updates/EnableWidgetsSiteConfigurationMigration.php

		-
			message: "#^Property Brotkrueml\\\\MatomoWidgets\\\\Updates\\\\EnableWidgetsSiteConfigurationMigration\\:\\:\\$siteConfiguration \\(TYPO3\\\\CMS\\\\Core\\\\Configuration\\\\SiteConfiguration\\) does not accept object\\.$#"
			count: 1
			path: Classes/Updates/EnableWidgetsSiteConfigurationMigration.php

		-
			message: "#^Property Brotkrueml\\\\MatomoWidgets\\\\Updates\\\\EnableWidgetsSiteConfigurationMigration\\:\\:\\$siteFinder \\(TYPO3\\\\CMS\\\\Core\\\\Site\\\\SiteFinder\\) does not accept object\\.$#"
			count: 1
			path: Classes/Updates/EnableWidgetsSiteConfigurationMigration.php
