<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">

<f:layout name="Widget/Widget" />

<f:section name="main">
    <f:if condition="{table.rows}">
        <f:then>
            <div class="widget-table-wrapper">
                <table class="widget-table">
                    <tr>
                        <f:for each="{table.headers}" as="header" key="index">
                            <th class="{table.classes.{index}}">{header}</th>
                        </f:for>
                    </tr>
                    <f:for each="{table.rows}" as="row">
                        <tr>
                            <f:for each="{table.columns}" as="column" key="index">
                                <td{f:if(condition: '{table.classes.{index}}', then: ' class="{table.classes.{index}}"')}>
                                    <f:if condition="{table.decorators.{index}}">
                                        <f:then>
                                            <f:variable name="content" value="{matomoWidgets:decorate(decorator: '{table.decorators.{index}}', value: '{row.{column}}')}"/>
                                            <f:if condition="{table.decorators.{index}.htmlOutput}">
                                                <f:then>{content -> f:format.htmlentitiesDecode()}</f:then>
                                                <f:else>{content}</f:else>
                                            </f:if>
                                        </f:then>
                                        <f:else>{row.{column}}</f:else>
                                    </f:if>
                                </td>
                            </f:for>
                        </tr>
                    </f:for>
                </table>
            </div>
        </f:then>
        <f:else>
            <f:translate key="LLL:EXT:matomo_widgets/Resources/Private/Language/Dashboard.xlf:noResultsAvailable"/>
        </f:else>
    </f:if>
</f:section>

<f:section name="footer">
    <f:if condition="{button}">
        <a href="{button.link}" target="{button.target}" class="widget-cta">{f:translate(id: button.title, default: button.title)}</a>
    </f:if>
</f:section>

</html>
