<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="Widget/Widget" />
<f:section name="main">
    <div class="widget-table-wrapper">
        <table class="widget-table">
            <tr>
                <f:for each="{tableHeaders}" as="header" key="index">
                    <th class="{tableClasses.{index}}">{header}</th>
                </f:for>
            </tr>
            <f:for each="{tableRows}" as="row">
                <tr>
                    <f:for each="{tableColumns}" as="column" key="index">
                        <td class="{tableClasses.{index}}">{row.{column}}</td>
                    </f:for>
                </tr>
            </f:for>
        </table>
    </div>
</f:section>
<f:section name="footer">
    <f:if condition="{button}">
        <a href="{button.link}" target="{button.target}" class="widget-cta">{f:translate(id: button.title, default: button.title)}</a>
    </f:if>
</f:section>
</html>
