.matomo-widgets__browser-plugin__column {
    width: 16px;
}

.matomo-widgets__country-flag__column {
    width: 24px;
}

.matomo-widgets__country-flag__image {
    border: 1px solid #ccc;
}

.matomo-widgets__break-word {
    word-break: break-all;
}
